@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #95E6FF;
  padding: 30px;
}
.container{
  position: relative;
  max-width: 1200px;
  height: 650px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  perspective: 2700px;
  display: flex;
  flex-direction: row-reverse;
}

.container .cover{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: right;
  transform-style: preserve-3d;
}
.container .front{
  background-color: #005E7C;
}
 .container .cover .front{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.container .cover img{
  margin-top: 9rem;
  margin-left: 5rem;
  position: absolute;
  height: 40%;
  width: 75%;
  border-radius: 15px;
  z-index: 130;
}
.container .cover .text{
  position: absolute;
  z-index: 130;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
  margin-left: 3rem;
}
.cover .text .text-1{
  font-size: 16px;
  font-weight: 600;
  color: #ffffffa0;
  text-align: center;
}
.cover .text{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.container .forms{
  flex: 2;
  display: flex;
  justify-content: flex-end; 
  height: 100%;
  width: 50%;
  background: #fff;
  

  /* order: 2; */
}
.form-content{
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.form-content .login-form{
  width: calc(100%  - 15px);
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
  margin-top: 70px;
}
h1{
  margin-left: 150px;
  color: #005E7C;
  font-weight: 500;
}
.title1{
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 700;
}
.new__account{
  margin-left: 30px;
  color: #718096;
}
.account__link{
  color: black;
}
.forms .form-content .input-boxes{
  margin-top: 20px; 
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
label {
  display: block;
  margin-bottom: 5px;
}
input{
  display: flex;
  flex-flow: column;
  width: 450px;
  height: 35px;
  border: #3699dc76 solid;
  border-radius: 5px;
  margin-bottom: 20px;
}
.input__label{
  color: #718096;
}
.enter__password{
  display: flex;
}
.fa-solid{
  margin-left: -30px;
  cursor: pointer;
  margin-top: 8px;
  color: #718096;
}
.remember_lable{
  display: flex;
  flex-direction: row;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a{
  text-decoration: none;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}

.forms .form-content label{
  color: #718096;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: underline;
}
.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.label__items{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: -95px;
}
.form-group a {
  margin-left: -50px;
  color: #1C4532;
}
.button.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 60px;
}

.button.input-box button {
  width: 95%;
  height: 45px;
  background-color: #005E7C;
  border: none;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 16px;
}
.button.input-box button:hover{
  background-color: #00A9DE;
}
@media (max-width: 900px) {
  .container .cover{
    display: none;
  }
  .form-content .login-form{
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .container .cover img {
    margin-top: 3rem;
    margin-left: 2rem;
    height: 25%;
    width: 80%;
  }

  .container .cover .text {
    margin-top: 8rem;
    margin-left: 1rem;
  }

  .title1 {
    margin-left: 20px;
    font-size: 1.5rem;
  }

  .new__account {
    margin-left: 20px;
  }

  .forms .form-content .input-boxes {
    margin-top: 10px;
    margin-left: 10px;
  }

  input {
    width: 100%;
  }

  .fa-solid {
    margin-left: -20px;
  }

  .button.input-box button {
    width: 100%;
    margin-right: 0;
  }
}
